.navbar {
  flex-direction: row;
  display: inline;
  font-size: 16px;
  overflow: hidden;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* color: #666666; */
  /* border: 1px solid #666666; */
  margin-top: 25px;
  padding: 13px;
  /* box-shadow: 0px 0px 5px lightgrey; */
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
  letter-spacing: 1px;
  font-weight: 200;
}
.nav-list li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.nav-list li:hover {
  text-decoration: underline;
  text-decoration-color: #f45800;
  transition: 0.3s;
  cursor: pointer;
}



