.navbar {
  display: flex;
  flex-direction: row;
  display: inline;
  font-size: 20px;
  overflow: hidden;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #666666;
  border: 1px solid #666666;
  margin-top: 25px;
  padding: 7px;
  
}
.nav-list li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 15%;
}


.nav-list li:hover {
  text-decoration: underline;
  text-decoration-color: #f45800;
  transition: 0.3s;
  cursor: pointer;
}
