.cart-image {
  height: 203px;
  width: 203px;
  // object-fit: cover;
  overflow: hidden;
}

.cart-image img {
  display: block;
  width: 100%;
  height: auto;
}

.cartItem-info {
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  width: 550px;
  border-bottom: 1px solid lightgray;
  padding-bottom: 20px;
}

.single-item:last-child {
  border-bottom: none;
}

.cart-box {
  display: flex;
}
.cartItems-box {
  // display: flex;
  // width: 75%;
  // height: 75%;
  // justify-content: center;
  // flex-direction: column;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 30px;
  align-content: center;
  width: 1200px;
}

.main-cart-area {
  display: flex;
  justify-content: space-between;
  border: 1px solid lightgray;
  border-radius: 3px;
  margin-top: 30px;
}


.remove-item {
  // color: black;
  // font-size: 15px;
  // font-family: 'Times New Roman', Times, serif;
  // margin: 12px;
   background: none;
  color: rgb(242, 88, 30 );
  border: 1px solid rgb(242, 88, 30 );
  border-radius: 2px;
  box-sizing: border-box;
  font-size: 14px;
  padding: 5px 9px 7px 9px;
  height: 30px;
  width: 80px;

}

.remove-item:hover {
  background-color: #FFF3EE;
}


.remove-item:hover {
  text-decoration: underline;
}

.cart-header {
  display: block;
  position: relative;
}


.cartItems-list {
  // position: relative;
  // top: 100px;
  // * {
  //   box-sizing: border-box;
  // }
  color: rgb(242, 88, 30 );
  margin: 20px 0px;
  margin-left: 105px;
  
  border-right: 1px solid lightgray;
  width: 50%;
}


.header-box {
  display: flex;
  justify-content: space-between;
}



.sec1 {
  margin-left: 20px;
  margin-right: 14px;
  width: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 130px;
}


.sec2 {
  margin-left: 20px;
  margin-right: 14px;
  width: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 130px;
}


.quant-sec {
  margin-left: 20px;
  margin-right: 14px;
  width: 110px;
  display: flex;
  flex-direction: column;
  height: 130px;
}


.sub {
  font-size: 20px;
}

.cart-item-price {
  font-size: 13px;
  font-weight: 100;
  color: gray;
  margin-top: 5px;
  position: relative;
}

.sec0 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quant-submit {
  display: flex;
  justify-content: center;
  border: 1px solid grey;
}

.checkout {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 0 auto;
}

.grandTotal {
  display: flex;
  justify-content: space-between;
  margin: 45px 6px 25px 5px;
}