.category-box {
  display: flex;
  margin: 4%;
  justify-content: center;
}

.category-box div {
  display: flex;
  margin-bottom: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

.category-img {
  width: 70%;
  height: 70%;
  margin-bottom: 50px;
}

.categoryItem-img {
  display: block;
  height: 300px;
  width: 100%;
  border-radius: 24px;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.category-main {
  min-height: calc(100vh - 183px);
  // background-color: ivory
}