.header {
//   display: flex;
  flex-direction: row;
//   display: block;
  
}

.logo {
  color: orange;
  float: left;
}

.login-signup {
  float: right;
}

.searchbar {
  justify-content: center;
}

.header-button {
  float: right;
}