.whole-app {
  display: flex;
  flex-direction: column;
  height: 100%;
}




.footer-box {
  // display: flex;
  // flex-direction: row;
  // border-top: 1px solid grey;
  height: 80px;
  margin-top: 30px;
  border-top: 1px solid #E5E4E2;
  flex-shrink: 0;
}


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 50px;
    margin-left: 4%;
    margin-right: 4%;
}


.footer-left {
  display: flex;
  align-items: center;
}


.Footerlogo {
  // color: #f45800;
  font-family: 'Merriweather', serif;
  // font-weight: 100;
  font-size: 30px;
  // margin-right: 40px;
  color: #F56400;
 
  display: flex;
}

.footertext {
  margin-left: 20px;
  font-weight: 200;
  font-size: 15px;
}


.splash-page {
  // border: 1px solid black;
  height: 400px;
  display: flex;
  justify-content: center;
}

.splash-left {
  height: 370px;
  width: 800px;
  // border: 1px solid red;
  margin-left: 50px;
  /* margin-right: 0px; */
  margin-top: 20px;
  margin-bottom: 50px;
}

.splash-left img {
  border-radius: 4px;
  height: 320px;
}

.splash-right {
  display: flex;
  justify-content: center;
  width: 500px;
  height: 370px;
  border: 1px solid green;
  margin: 20px;
  flex-direction: column;
}


.splash-top {
  height: 222px;
  width: 400px;
  border: 1px solid lightblue;
}

.splash-bottom {
  width: 400px;
  height: 80px;
  border: 1px solid orange;
}