

.slidePic {
  width: 100%;
}

.index-header {
  display: flex;
  justify-content: center;
  // border: 1px solid green;
  margin-top: 50px;
  font-size: 30px;
}

.index-header h2:hover {
  text-decoration: underline;
}

.slider {
  // display: flex;
  // position: absolute;
  width: 60vw;
  height: 450px;
  // background: red;
  overflow: hidden;
//   -webkit-box-shadow: -20px 10px 11px 0px rgba(0,0,0,0.32);
// -moz-box-shadow: -20px 10px 11px 0px rgba(0,0,0,0.32);
// box-shadow: -20px 10px 11px 0px rgba(0,0,0,0.32);
margin-top: 50px;
}


.slider-class {
  // background: red;
  display: flex;
  justify-content: center;
  
  width: 100vw;
  height: 500px;
}

.nextArrow {
  position: absolute;
  top: 50%;
  left: 1093px;
  z-index: 999;
  color: #fff;
}


.backArrow {
  position: absolute;
  top: 50%;
  // right: 445px;
  z-index: 999;
  color: #fff;
}


.backArrow, .nextArrow {
  
  background: black;
  border-radius: 50%;
}


.backArrow:hover {
  transform: scale(1.09, 1.09)
}
.nextArrow:hover {
  transform: scale(1.09, 1.09)
}