

.slidePic {
  width: 100%;
}

.index-header {
  display: flex;
  justify-content: center;
  // border: 1px solid green
  font-size: 30px;
}

.index-header h2:hover {
  text-decoration: underline;
}





.nextArrow {
  position: absolute;
  top: 50%;
  left: 1093px;
  z-index: 999;
  color: #fff;
}


.backArrow {
  position: absolute;
  top: 50%;
  // right: 445px;
  z-index: 999;
  color: #fff;
}


.backArrow, .nextArrow {
  
  background: black;
  border-radius: 50%;
}


.backArrow:hover {
  transform: scale(1.09, 1.09)
}
.nextArrow:hover {
  transform: scale(1.09, 1.09)
}