.textarea {
  border: 1px solid black;
  width: 300px;
}

.review-submit {
  border-radius: 2px;
  background: lightgray;
}


.review-container {
  display: flex;
  flex-direction: column;
}

.review-form-box {
  display: flex;
  flex-direction: column;
}

.review-box {
  display: flex
}

.review-delete {
  border-radius: 2px;
  // width: 6px;
  // height: 6px;
  border: 1px solid black;
}